/dist
/.tmp
/node_modules
/bower_components
/ffmpegsumo.dll
/icudtl.dat
/libEGL.dll
/libGLESv2.dll
/smart_notes.exe
/nw.pak
/nwsnapshot.exe
/locales
/pdf.dll
/nwjc.exe
/notes.nedb
/d3dcompiler_47.dll
